#hnskrit {
  all: initial;
  & > div {
    all: initial;
  }

  --hnskrit-main-text: #0c0c0d;
  --hnskrit-sub-text: #737373;
  --hnskrit-line: #ededf0;
  --hnskrit-button: #d7d7db;
  --hnskrit-highlight: #5595ff;
  --hnskrit-main-bg: #ffffff;
}
