@font-face { font-family: 'u8';
    src: url('src/assets/fonts/u8.woff2') format('woff2'), url('src/assets/fonts/u8.woff') format('woff'), url('src/assets/fonts/u8.ttf') format('truetype');
    font-weight: normal; font-style: normal; unicode-range: U+0-9F; font-display: swap;
}
@font-face { font-family: 'u5c';
    src: url('src/assets/fonts/u5c.woff2') format('woff2'), url('src/assets/fonts/u5c.woff') format('woff'), url('src/assets/fonts/u5c.ttf') format('truetype');
    font-weight: normal; font-style: normal; unicode-range: U+0-9F; font-display: swap;
}